{% extends "../account_base.html" %}

{% load i18n %}
{% load account  %}

{% block head_title %}{% trans "Kirish" %}{% endblock %}

{% block content %}

<div class="container">
  <center>
    <h1>{% trans "Kirish" %}</h1>
    <br>
  <p>{% blocktrans %}Agar siz hali ro'yhatdan o'tmagan bo'lsangiz unda xoziroq
  <a href="{{ signup_url }}"><b>ro'yhatdan o'ting</b> </a> .{% endblocktrans %}</p>
  </center>
  
<br>
<div class="w3_login_module">  
      <div class="module form-module">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i>
        
        </div>
        <div class="form">
        <h3>Shaxsiy akkauntga kirish</h3>
          <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <a class="button secondaryAction" style="float:right;" href="{% url 'account_reset_password' %}">{% trans "Parolni unutdingizmi ?" %}</a>
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <br>
          
          <button class="cta primaryAction" type="submit">{% trans "Kirish" %}</button>
        </form>
        </div>
      </div>
    </div>

</div>



{% endblock %}
