{% extends '../base.html' %}
{% load static %}
{% block content  %}
<div class="single-page-agile-main">
<div class="general_social_icons">
	<nav class="social">
		<ul>
			<li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
			<li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
			<li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
			<li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>				  
		</ul>
  </nav>
</div>	
<div class="w3l-agile-horror">
       <!-- /w3l-medile-movies-grids -->
			<div class="w3l-medile-movies-grids">
				<!-- /movie-browse-agile -->
				      <div class="movie-browse-agile">
					     <!--/browse-agile-w3ls -->
						<div class="browse-agile-w3ls general-w3ls">
								<div class="tittle-head">
									<h4 class="latest-text">
										{% for movie in page_obj|slice:"1" %}
											{{movie.category.name}}  filmlar
										{% endfor %}
									</h4>
									<div class="container">
										<div class="agileits-single-top">
											<ol class="breadcrumb">
											  <li><a href="{% url 'movie:movies_list' %}">Bosh sahifa</a></li>
											  {% for movie in page_obj|slice:"1" %}
											<li class="active">{{movie.category.name}}</li> 
										{% endfor %}
											</ol>
										</div>
									</div>
								</div>
								<div class="container">
							
							<!-- //latest-movies1 -->
								<!-- /latest-movies1 -->
							    <div class="browse-inner-come-agile-w3">
							   {% for movie in movies %}
									<div class="col-md-2 w3l-movie-gride-agile">
										 <a href="{{movie.get_absolute_url}}" class="hvr-shutter-out-horizontal"><img src="{{movie.poster.url}}" title="{{movie.title}}" alt=" {{movie.title}}" />
									     <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									  <div class="mid-1">
										<div class="w3l-movie-text">
											<h6><a href="{{movie.get_absolute_url}}">{{movie.title}}</a></h6>							
										</div>
										<div class="mid-2">
										
											<p>{{movie.year }}</p>
											<div class="block-stars">
												<ul class="w3l-ratings">
													     <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>						
												</ul>
											</div>
											<div class="clearfix"></div>
										</div>
											
									</div>
							 	    <div class="ribben">
										<p>{{movie.rating.value}}</p>
									</div>	
									</div>
									{% endfor %}
								<div class="clearfix"> </div>
								</div>
							<!-- //latest-movies1 -->
				<!--//browse-agile-w3ls -->
				<style>
					.step-links{

					}
				</style>
						<div class="blog-pagenat-wthree">
							<ul class="pagination">
							    {% if page_obj.has_previous %}
							      <li>   
							           <a href="?page=1">&laquo; boshiga</a>
							            <a href="?page={{ page_obj.previous_page_number }}" class="last">oldingisi</a>
							      </li>
							        {% endif %}

							       <li> 
							       	<a href="#">							       	
							            {{ page_obj.number }} - sahifa,  {{ page_obj.paginator.num_pages }} dan.
							        </a> 
							       </li>
							        {% if page_obj.has_next %}
							        <li>
							            <a href="?page={{ page_obj.next_page_number }}" class="last" >keyingisi</a>
							            <a href="?page={{ page_obj.paginator.num_pages }}" >oxirgisi &raquo;</a>
							        </li>
							        {% endif %}
							    
							</ul>
													</div>
					</div>
				<!-- //movie-browse-agile -->
				<!--body wrapper start-->

		</div>
	      <!-- //w3l-medile-movies-grids -->
	</div>
	</div>	
</div>
{% endblock %}