{% extends '../base.html' %}

{% load static %}
{% block  content %}


	<div class="faq">
			<div class="container">
				<div class="agileits-news-top">
					<ol class="breadcrumb">
					  <li><a href="index.html">Home</a></li>
					   <li><a href="news.html">News</a></li>
					  <li class="active">Single</li>
					</ol>
				</div>
				<div class="agileinfo-news-top-grids">
					<div class="col-md-8 wthree-top-news-left">
						<div class="wthree-news-left">
							<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
								<ul id="myTab" class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#home1" id="home1-tab" role="tab" data-toggle="tab" aria-controls="home1" aria-expanded="true">Latest News</a></li>
									<li role="presentation"><a href="#w3bsd" role="tab" id="w3bsd-tab" data-toggle="tab" aria-controls="w3bsd">Movie News</a></li>
								</ul>
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
						
										<div class="wthree-news-top-left">
											{% for post in posts %}
											<div class="col-md-6 w3-agileits-news-left">
												<div class="col-sm-5 wthree-news-img">
													<a href="{{post.get_absolute_url}}"><img src="{{post.image.url}}" alt="" /></a>
												</div>
												<div class="col-sm-7 wthree-news-info">
													<h5><a href="{{post.get_absolute_url}}">{{post.title}}</a></h5>
													<p>{% autoescape off %}
														{{post.desc}}
													{% endautoescape %}
													</p>
													<ul>
														<li><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.published}}</li>
														<li><i class="fa fa-eye" aria-hidden="true"></i> {{post.views}}</li>
													</ul>
												</div>
												<div class="clearfix"> </div>
											</div>
											{% endfor %}
											<div class="clearfix"> </div>
										</div>
				
										<div class="wthree-news-top-left">
											{% for post in object_list %}
											<div class="col-md-6 w3-agileits-news-left">
												<div class="col-sm-5 wthree-news-img">
													<a href="#"><img src="{{post.image.url}}" alt="" /></a>
												</div>
												<div class="col-sm-7 wthree-news-info">
													<h5><a href="#">{{post.title}}</a></h5>
													<p>{{post.desc|truncatewords:'15'}}</p>
													<ul>
														<li><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.published}}</li>
														<li><i class="fa fa-eye" aria-hidden="true"></i> {{post.views}}</li>
													</ul>
												</div>
												<div class="clearfix"> </div>
											</div>
											{% endfor %}
											<div class="clearfix"> </div>
										</div>
									</div>
			
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 wthree-news-right">
						<!-- news-right-top -->
						<div class="news-right-top">
							<div class="wthree-news-right-heading">
								<h3>Updated News</h3>
							</div>
							<div class="wthree-news-right-top">
								<div class="news-grids-bottom">
									<!-- date -->
									<div id="design" class="date">
										<div id="cycler">   
											<div class="date-text">
												<a href="news-single.html">August 15,2016</a>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											</div>

										</div>
										<script>
										function blinker() {
											$('.blinking').fadeOut(500);
											$('.blinking').fadeIn(500);
										}
										setInterval(blinker, 1000);
										</script>
										<script>
											function cycle($item, $cycler){
												setTimeout(cycle, 2000, $item.next(), $cycler);
												
												$item.slideUp(1000,function(){
													$item.appendTo($cycler).show();        
												});
												}
											cycle($('#cycler div:first'),  $('#cycler'));
										</script>
									</div>
									<!-- //date -->
								</div>
							</div>
						</div>
						<!-- //news-right-top -->
						<!-- news-right-bottom -->
						<div class="news-right-bottom">
							<div class="wthree-news-right-heading">
								<h3>Top News</h3>
							</div>
							<div class="news-right-bottom-bg">
								<div class="news-grids-bottom">			
		
									<div class="top-news-grid">
										<div class="top-news-grid-heading">
											<a href="news-single.html">Duis orci enim, rutrum vel sodales ut, tincidunt nec turpis.</a>
										</div>
										<div class="w3ls-news-t-grid top-t-grid">
											<ul>
												<li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
												<li><a href="#"><i class="fa fa-user"></i> Cras pretium</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //news-right-bottom -->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		
	</div>

{% endblock %}