{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="single-page-agile-main">
<div class="container">
		<!-- /w3l-medile-movies-grids -->
			<div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a href="{% url 'movie:movies_list' %}">Bosh sahifa</a></li>
				  <li class="active">{{ movie.title.upper }}  haqida</li>
				</ol>
			</div>
			  {% if messages %}
                   	{% for message in messages %}
                   	<div class="alert alert-danger">
                   		<h1>{{message}}</h1>
                   	</div>
                   	{% endfor %}
                   {% endif %}
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
        <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<h1 style="padding:10px;">{{ movie.title.upper }}</h1>	
					</div>
						<div class="video-grid-single-page-agileits" style="width:90%; height:auto;" >
							<div data-video="dLmKio67pVQ" id="video"> 
							<img src="{{movie.poster.url}}" alt="" class="img-responsive" /> </div>
						</div>
					</div>
					<div class="song-grid-right">
						<div class="share">
							<h5>Share this</h5>
							<div class="single-agile-shar-buttons">
							<ul>
								<li>
									<script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-share-url="https://onemovie.uz/{{movie.slug}}" data-size="large"></script>
								<!-- Load Facebook SDK for JavaScript -->
								<div id="fb-root"></div>
								<script>(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s); js.id = id;
								js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
								fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));</script>

								<!-- Your share button code -->
								<div class="fb-share-button" 
								data-href="https://onemovie.uz/{{movie.slug}}" 
								data-layout="button_count">
				
								</div>
								</li>
								<li>
								<div id="like-section-{{ movie.id }}">
							 		Like <span id="total_likes">{{ movie.likes.all.count }}
							 		</span>
									
									    <button type="submit" name="product_id" value="{{ movie.id }}"  onclick="AddLikes({{ movie.id }})" id="like_button"
										class="btn btn-like {% if not is_liked %} btn-danger{% else %} btn-primary{% endif %}">{% if is_liked %} Like{% else %} Dislike {% endif %}
										</button>				
								
									</div>
								</li>	
							</ul>
						</div>
						</div>
					</div>
<div class="clearfix"> </div>
<h3 >Aktyorlar	</h3>
<div class="lead" style="margin-top:15px;">
	{% for actor in movie.actors.all %}
		<div class="col-sm-4">
			<h4>{{actor.name}}</h4>

			<br>
			<img src="{{actor.image.url}}" alt="" class="actor">
			<br>
		</div>
	{% endfor %}
</div>
<div class="clearfix"> </div>
<div class="media-grids">
<h3 >Filmdan kadrlar	</h3>

<div class="lead">
	{% for shoots in movie.movie_shots_set.all|slice:":3" %}
	
	<div class="col-sm-6">
		<a href="{{shoots.image.url}}" class="shoot">
		<img src="{{shoots.image.url}}" style="width:100%; float:right;" alt="{{shoots.title}}">
	</a>
	</div>
	{% endfor %}
</div>						
</div>
<div class="clearfix"> </div>
	<div class="all-comments">
		<div class="all-comments-info">
			<a href="#">Muhokamalar</a>
			<div class="agile-info-wthree-box">
	
			<form action="{% url 'movie:addcomment_view' movie.id %}" method="POST" id="formReview">
					<input type="text" name="name" placeholder="Ism" required="">	
					{% csrf_token %}            					   <br>
					<input type="hidden" name="parent" id="contactparent" value=""> 
					<input type="text" name="email" placeholder="Email" required="">
					<textarea placeholder="Xabar" name="message" required="" id="contactname"></textarea>
					<input type="submit" value="Yuborish">
					<div class="clearfix"> </div>
					
				</form>
			</div>
		</div>
<script>
function AddReview(name, id) {
document.getElementById('contactparent').value = id;
document.getElementById('contactname').innerHTML = `${name} ,`;
console.log(id)
console.log(name)
}
</script>
		<div class="media-grids">
			{% for comment in movie.movie_comments.all|slice:"10" %}
			<div class="media">
				<h5>{{comment.name}}</h5>
				<div class="media-left">
					<a href="#">
						<img src="/static/images/user.jpg" title="One movies" alt=" " />
					</a>
				</div>
				<div class="media-body">
					<p>{{comment.message}}</p>
					<span>View all posts by :<a href="#"> Admin </a></span>
				</div>
			<div class="lead" style="float:right;">				
				<p>
				 <a href="#formReview" class="btn btn-outline" onclick="AddReview('{{comment.name}}','{{comment.id}}')">
							<i class="fa fa-reply"></i>				Javob berish
					</a>
				</p>								
			</div>
			</div>
			{% endfor %}
		</div>
		</div>
<div class="clearfix"> </div>
</div>
				<div class="col-md-4 single-right">
				
					<div class="news-right-top">
							<div class="wthree-news-right-heading">
								<h3>Film haqida</h3>
							</div>
							<div class="single-grid-right">
								
							</div>
							<div class="wthree-news-right-top">
								<div class="news-grids-bottom">
						<div class="w3ls-news-t-grid top-t-grid">
							<ul class="list-group">
							  <li class="list-group-item h2">Nomi : <span>{{movie.title}}</span> </li>
							  <li class="list-group-item h2">Aktyorlar : 
							  	<span>
							  		{% for actor in movie.actors.all %}
							  		<a href="{% url 'movie:actor_detail' actor.name %}">{{actor.name}},</a>
							  		{% endfor %}
								</span> 
								</li>
							  <li class="list-group-item h2">Davlati : <span>{{movie.country}}</span> </li>
							  <li class="list-group-item h2">Jahondagi premyerasi : <span>{{movie.world_premiere}}</span> </li>
							  <li class="list-group-item h2">Yili : <span>{{movie.year}}</span></li>
							 <li class="list-group-item h2">Byudjeti : 
								<span>$ {{movie.budget}}</span>
							</li>
							<li class="list-group-item h2">Bo'lim : 				<a href="{{movie.category.get_absolute_url}}">{{movie.category.name}}</a>						  		
							</li>
							<li class="list-group-item h2">Janri : 
								{% for genre in movie.genres.all %}
							  		<a href="#">{{genre.name}}</a>
							  	{% endfor %}
							</li>
							</ul>										  

						</div>
								</div>
							</div>
						</div>

						<h3>So'nggi qo'shilgan filmlar</h3>

					<div class="single-grid-right">
						{% for movie in lm %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="{{movie.get_absolute_url}}">
									<img src="{{movie.poster.url}}" alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="{{movie.get_absolute_url}}" class="title">{{movie.title}}</a>
								<p class="author"><a href="#" class="author">{{movie.country}}</a></p>
							
								{% for actor in movie.actors.all|slice:":5" %}
								<p class="views">
									<a href="{% url 'movie:actor_detail' actor.name %}">{{actor.name }}</a>
								</p>
								{% endfor %}

								<p class="views">{{movie.world_premiere}}</p>
							</div>
							<div class="clearfix"> </div>
						</div>

						{% endfor %}

						<div class="single-grid-right">
	              			<h3 style="margin-bottom:15px;">Bo'limlar</h3>
							<ul class="list-group">
							{% for category in categories %}
							  <li class="list-group-item d-flex justify-content-between align-items-center">
							   {{category.name}}
							    <span class="badge badge-primary badge-pill" style="color:white;">
							    	{% if category %}
							    		{{category|length}}
							    	{% endif %}


							    </span>
							  </li>
							{% endfor %}
							</ul>				
						</div>
					</div>

					<!-- end col-4 -->
				</div>
				</div>
				</div>
				</div>
				

				
				<div class="clearfix"> </div>
			</div>
		
			<script>
		              function AddLikes(movie_id){
		                  if (window.XMLHttpRequest){
		                    // code for IE7+, Firefox, Chrome, Opera, Safari
		                    xmlhttp=new XMLHttpRequest();
		                  } else {  // code for IE6, IE5
		                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		                  }
		                  xmlhttp.onreadystatechange=function() {
		                    if (this.readyState==4 && this.status==200) {
		                    var data = JSON.parse(this.responseText);
		                    console.log(data);
		                    if (data.status == 'like'){

		                    	
		           var btn = document.getElementById("like_button");
		                 btn.className = "btn btn-like btn-primary";
		                     	btn.innerHTML = "Like";
		                    }
		                    else{
		                    	
		           var btn = document.getElementById("like_button");
		                   btn.className = "btn btn-like btn-danger";
		                     btn.innerHTML = "Dislike";
		                    
		                    	} 

		                    document.getElementById('total_likes').innerHTML = data.total_likes                  
		                    }
		                  }
		                  var url = "{% url 'movie:likes' %}";
		                  var url = url+"?data="+movie_id;

		                  xmlhttp.open("GET",url,true);
		                  xmlhttp.send();
                }
              </script>		<!-- //movie-browse-agile -->
		<style>
					.shoot img{
						width: 55%;
						height: auto;
						padding: 10px;
					}
					.actor{
						width: 100%;
						height: auto;

					}
				</style>

	<style>
.rating{
	justify-content: left;
	align-items: left;
	display: flex;
	flex-direction: auto;
	background: #f7f7f7;
	padding: 10px;
}
.rating h3{
	float: left;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
	padding-left: 15px;
}
.rating img{
	width: 70px;
	height: auto;
	padding-top: 5px;
}
.rating_nums{
	font-size: 55px;
}
</style>			<!--body wrapper start-->
		{% endblock %}